<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File" fileName="logs/error/${date:format=yyyy-MM-dd HH}.log" layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}"/>
    <target name="logInfofile" xsi:type="File" fileName="logs/info/${date:format=yyyy-MM-dd HH}.log" layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="logfile" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="logInfofile" />
  </rules>
</nlog>