################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Infrastructure/bin
/Infrastructure/obj
/Infrastructure.Hangfire/bin/Debug/netcoreapp3.1
/Infrastructure.Hangfire/obj
/Samples.Manager.Api/bin/Debug/netcoreapp3.1
/Samples.Manager.Api/obj
/Samples.Repository/bin/Debug/netcoreapp3.1
/Samples.Repository/obj
/Samples.Service.APP/bin/Debug/netcoreapp3.1
/Samples.Service.APP/obj
/Samples.Service.Domain/bin/Debug/netcoreapp3.1
/Samples.Service.Domain/obj
/Samples.WebService/bin/Debug/netcoreapp3.1
/Samples.WebService/obj
/TConsole/bin/Debug/netcoreapp3.1
/TConsole/obj
/.vs/NetCore.Samples/v17
/Console/ElasticsearchDemo/bin/Debug/netcoreapp3.1
/Console/ElasticsearchDemo/obj
/Console/KafkaConsumerDome/bin/Debug/netcoreapp3.1
/Console/KafkaConsumerDome/obj
/Console/KafkaProducerDome/bin/Debug/netcoreapp3.1
/Console/KafkaProducerDome/obj
/Console/KF.ElasticSearch/bin/Debug/netcoreapp3.1
/Console/MongoDBDemo/bin/Debug/netcoreapp3.1
/Console/MongoDBDemo/obj
/SignalRDemo/bin/Debug/netcoreapp3.1
/SignalRDemo/obj
/.vs/NetCore.Samples/FileContentIndex
/.vs/NetCore.Samples/config/applicationhost.config
/.vs/ProjectEvaluation
/.vs/NetCore.Samples/DesignTimeBuild
/Console/KF.ElasticSearch/obj/Debug/netcoreapp3.1
/Console/KF.ElasticSearch/obj
